name: Deploy Lambda Function

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  apply_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Apply Terraform
        run: terraform apply -auto-approve