name: Deploy Lambda Function

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  plan_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Initialize Terraform
        run: terraform init

      - name: Plan Terraform
        run: terraform plan -out=${{ github.sha }}.tfplan

  apply_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Apply Terraform
        run: terraform init && terraform apply -auto-approve