name: Deploy Lambda Function

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  plan_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Initialize Terraform
        run: terraform init

      - name: Plan Terraform
        run: terraform plan -out=${{ github.sha }}.tfplan

      - name: Save Terraform plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: ${{ github.sha }}.tfplan

  apply_terraform:
    needs: [plan_terraform]
    runs-on: ubuntu-latest
    environment: apply
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download Terraform plan
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan
          path: ${{ github.sha }}.tfplan

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Apply Terraform
        run: terraform apply ${{ github.sha }}.tfplan