name: Deploy Lambda Function

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  apply_terraform:
    runs-on: ubuntu-latest
    env:
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      TF_CLOUD_TOKEN: ${{ secrets.TF_CLOUD_TOKEN }}
      TF_CLOUD_ORGANIZATION: NYCJobsDataAlerter
      TF_CLOUD_WORKSPACE: nyc_tech_jobs_alerter
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show env var
        run: env | grep TF_

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Initialize Terraform
        run: terraform init

      - name: Apply Terraform
        run: terraform plan